body {
  background-color: grey;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.container-fluid {
  height: 100vh;
  max-width: 100%;
  padding: 0;
}

#welcome-page {
  max-width: 100%;
  padding: 0;
}

#logo {
  background-image: url("./img/Flexing.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: black;
  padding: 0;
  height: 950px;
}

#logo h1 {
  font-family: "Zen Dots", cursive;
  font-size: 20px;
  margin-left: 20px;
  padding: 20px;
  text-align: left;
  color: white;
}

#welcome-carousel {
  height: 400px;
  width: 700px;
  margin: 0 auto;
  padding-top: 20px;
  align-items: left;
}

.carousel-indicators {
  margin: 0 auto;
}

#welcome-message {
  background-color: black;
  padding: 0;
  height: 950px;
  text-align: center;
}

#welcome-message h2 {
  margin-top: 100px;
  margin-left: 80px;
  padding: 40px;
  text-align: left;
  color: white;
  font-family: "Prompt", sans-serif;
  font-weight: bolder;
  font-size: 50px;
}

#welcome-message #start {
  text-align: center;
  color: white;
  background-image: linear-gradient(to right, orangered, orange);
}

.nav {
  text-align: center;
  padding: 30px;
}

.nav ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.nav ul li {
  display: inline-block;
  margin: 0 15px;
}

.nav ul li a {
  color: orange;
  text-decoration: none;
  font-family: "Prompt", sans-serif;
}

.nav ul li a:hover {
  color: white;
  text-decoration: underline;
}

#testimonials {
  background-color: rgb(33, 32, 32);
  height: 900px;
  flex: none;
}

#testimonials h5 {
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-size: 20px;
  color: rgb(221, 144, 60);
  margin: 0;
  height: 30px;
}

#testimonials h1 {
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-weight: bolder;
  font-size: 32px;
  color: white;
  text-shadow: 2px 2px rgb(221, 144, 60);
  margin: 0;
  height: 30px;
}

#carouselExampleCaptions {
  height: 500px;
  width: 700px;
  margin: 0 auto;
  padding-top: 20px;
  align-items: center;
}

.carousel-inner {
  text-align: center;
}

#graphics {
  padding: 0;
  height: 400px;
  /* align-items: center; */
}

.embed-responsive {
  height: 400px;
  align-items: center;
}

.embed-responsive-item {
  align-items: center;
}

#left {
  background-image: url("./img/Rope-Training.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: black;
  align-items: center;
  padding: 0;
}

#center {
  background-color: black;
  border: 3px;
  border-color: linear-gradient(to right, orangered, orange);
  padding: 0;
}

#right {
  background-image: url("./img/maragos.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: black;
  align-items: center;
  padding: 0;
}

#membership-plans h1 {
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-weight: bolder;
  font-size: 32px;
  color: white;
  text-shadow: 2px 2px rgb(221, 144, 60);
  margin: 0;
}

#bmi-image {
  background-image: url("./img/Training-Buddies.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
  padding: 0;
}

#bmi-calculator {
  padding: 0;
  margin: 0;
}

#calculator h1 {
  font-family: "Prompt", sans-serif;
  padding: 10px;
}

#offers-image {
  background-image: url("./img/lifting.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
  padding: 0;
}

#offers {
  font-family: "Prompt", sans-serif;
  padding: 0;
  text-align: center;
}

#offers ul {
  padding: 0;
  margin: 0;
}

#offers ul li {
  list-style-type: none;
}

#site-footer h1 {
  font-family: "Zen Dots", cursive;
  font-size: 20px;
  margin-left: 20px;
  padding: 20px;
  text-align: left;
  color: white;
}

#site-footer ul li {
  list-style-type: none;
  display: inline-block;
}
