body {
  background-color: grey;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.container-fluid {
  height: 100vh;
  max-width: 100%;
  padding: 0;
}

#welcome-page {
  max-width: 100%;
  padding: 0;
}

#logo {
  background-image: url("./img/Gordon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
  padding: 0;
  height: 950px;
}

#logo h1 {
  font-family: "Zen Dots", cursive;
  font-size: 30px;
  margin-left: 20px;
  padding: 20px;
  text-align: left;
  color: white;
}

#welcome-carousel {
  height: 400px;
  width: 700px;
  margin: 0 auto;
  padding-top: 20px;
  align-items: left;
}

.carousel-indicators {
  margin: 0 auto;
}

#welcome-message {
  background-color: black;
  padding: 0;
  height: 950px;
  text-align: center;
}

#welcome-message h2 {
  margin-top: 100px;
  margin-left: 80px;
  padding: 40px;
  text-align: left;
  color: white;
  font-family: "Prompt", sans-serif;
  font-weight: bolder;
  font-size: 50px;
}

#welcome-message #start {
  text-align: center;
  color: white;
  font-weight: bold;
  background-image: linear-gradient(to right, orangered, orange);
  padding: 10px;
  border: 3px solid white;
}

.nav {
  text-align: center;
  padding: 30px;
}

.nav ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.nav ul li {
  display: inline-block;
  margin: 0 15px;
}

.nav ul li a {
  color: orange;
  text-decoration: none;
  font-family: "Prompt", sans-serif;
  font-size: 20px;
  margin: 15px;
}

.nav ul li a:hover {
  color: white;
  text-decoration: underline;
}

#testimonials {
  background-color: rgb(33, 32, 32);
  height: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: safe;
  align-items: stretch;
}

#testimonials h5 {
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-size: 20px;
  color: rgb(221, 144, 60);
  margin-top: 50px;
}

#testimonials h1 {
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-weight: bolder;
  font-size: 32px;
  color: white;
  text-shadow: 2px 2px rgb(221, 144, 60);
  margin-bottom: 20px;
}

#carouselExampleCaptions {
  height: 500px;
  width: 900px;
  margin: 0 auto;
  /* padding-top: 20px; */
  align-items: center;
}

.carousel-inner {
  text-align: center;
  padding: 20px;
  width: 100%;
}

.carousel-inner h5 {
  font-size: 24px;
}

/* Graphics Section */
#graphics {
  padding: 0;
  height: 400px;
}

.embed-responsive-item {
  height: 400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: safe;
  align-items: stretch;
  border: 5px solid rgb(221, 144, 60);
}

.vp-target {
  background-size: cover;
}

.vp-shade {
  height: 400px;
}

#left {
  background-image: url("./img/Rope-Training.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
  align-items: center;
  padding: 0;
}

#center {
  background-color: black;
  border: 3px;
  border-color: linear-gradient(to right, orangered, orange);
  padding: 0;
}

#right {
  background-image: url("./img/maragos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
  align-items: center;
  padding: 0;
}

/* Membership Section */
#membership-plans {
  background-color: rgb(33, 32, 32);
}

#membership-plans h1 {
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-weight: bolder;
  font-size: 32px;
  color: white;
  text-shadow: 2px 2px rgb(221, 144, 60);
  margin: 50px 10px 40px 10px;
}

.col-4 {
  padding: 20px 0 70px 0;
}

.card-title {
  text-align: center;
}

.card-title {
  color: white;
  background-color: black;
  padding: 10px;
}

.card-body {
  text-align: center;
}

.yearly-card {
  border: 3px solid rgb(221, 144, 60);
  margin: 0 auto;
}

.daily-card {
  background-color: rgb(33, 32, 32);
  border: 1px solid white;
  margin: 0 auto;
}

.monthly-card {
  background-color: rgb(33, 32, 32);
  border: 1px solid white;
  margin: 0 auto;
}

#daily h2 {
  text-align: center;
  color: white;
  margin: 20px;
  font-size: 45px;
}

#daily ul {
  padding: 0;
}

#daily ul li {
  list-style-type: none;
  text-align: center;
  line-height: 2.5;
  color: white;
  border-bottom: 1px solid white;
}

.yearly-card h2 {
  text-align: center;
  color: white;
  margin: 20px;
  font-size: 45px;
}

#yearly ul {
  padding: 0;
}

#yearly ul li {
  list-style-type: none;
  text-align: center;
  color: white;
  line-height: 2.5;
  border-bottom: 1px solid white;
}

.yearly-card .card-title {
  background-color: rgb(221, 144, 60);
}

#monthly h2 {
  text-align: center;
  color: white;
  margin: 20px;
  font-size: 45px;
}

#monthly ul {
  padding: 0;
}

#monthly ul li {
  list-style-type: none;
  text-align: center;
  color: white;
  line-height: 2.5;
  border-bottom: 1px solid white;
}

.btn {
  margin: 10px;
  background-color: black;
  border: 1px solid rgb(221, 144, 60);
}

/* BMI Calculator Section */
#bmi-image {
  background-image: url("./img/Training-Buddies.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
  padding: 0;
}

#bmi-calculator {
  height: 500px;
  padding: 0;
  margin: 0;
  background-color: black;
  text-align: center;
}

#bmi-calculator h1 {
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-weight: bolder;
  font-size: 42px;
  color: white;
  text-shadow: 2px 2px rgb(221, 144, 60);
  margin: 50px 10px 30px 10px;
}

#calculator {
  padding: 0;
  text-align: center;
}

#calculator h1 {
  font-family: "Prompt", sans-serif;
  padding: 20px;
  margin-top: 30px;
}

#calculator p {
  color: white;
  font-weight: bold;
  padding: 10px;
  font-size: 18px;
}

#bmi-btn {
  background-image: linear-gradient(to right, orangered, orange);
  color: white;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
}

#result {
  color: rgb(221, 144, 60);
  font-size: 24px;
  font-weight: bolder;
  padding: 20px;
  margin: 20px;
}

/* Offers Page Section */
#offers-image {
  height: 500px;
  background-image: url("./img/lifting.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
  padding: 0;
}

#offers {
  font-family: "Prompt", sans-serif;
  padding: 0;
  text-align: center;
  height: 500px;
  background-color: black;
}

#offers h1 {
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-weight: bolder;
  font-size: 42px;
  color: white;
  text-shadow: 2px 2px rgb(221, 144, 60);
  margin: 50px 10px 40px 10px;
}

#offers p {
  color: white;
  padding: 10px;
}

#offers ul {
  padding: 0;
  margin: 0;
}

#offers ul li {
  list-style-type: none;
  font-size: 24px;
  color: rgb(221, 144, 60);
}

/* Details Section */
#details {
  background-color: rgb(33, 32, 32);
}

#quick-contacts h3 {
  text-align: center;
  color: white;
  padding-top: 20px;
}

#quick-contacts ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin: 20px;
}

#quick-contacts ul li {
  color: white;
  line-height: 2;
}

#tags {
  text-align: center;
  padding-right: 70px;
}

#tags h3 {
  color: white;
  text-align: center;
  margin: 20px;
}

.btn-bmi-calculator {
  background-image: linear-gradient(to right, orangered, orange);
  color: white;
}

.btn-membership {
  background-image: linear-gradient(to top, orangered, orange);
  color: white;
}

.btn-exercises {
  background-image: linear-gradient(to left, orangered, orange);
  color: white;
}

#site-footer h1 {
  font-family: "Zen Dots", cursive;
  font-size: 20px;
  margin-left: 20px;
  padding: 20px;
  text-align: center;
  color: white;
}

#site-footer ul {
  list-style-type: none;
  text-align: center;
  font-size: 24px;
  margin: 0;
  padding: 0;
  color: white;
}

#site-footer ul li {
  list-style-type: none;
  display: inline-block;
  padding: 20px;
}

#footer {
  background-color: rgb(221, 144, 60);
  text-align: center;
  font-weight: bold;
}
